{
    "exclude": [
        "src/**/*.js"
    ],
    "include": [
        "src/index-cli.ts",
        "bin/*.js"
    ],
    "extension": [
        ".ts"
    ],
    "reporter": [
        "json",
        "html",
        "text-summary"
    ],
    "all": true
}
